@import '../../../index.scss';


.p-dropdown {
    background-color: $primaryColor;
}
.p-dropdown .p-dropdown-label{
    color: whitesmoke;
}


.country-item-value {
    display: flex !important;
    // justify-content: space-between;
    // // flex-direction: column !important;
    // width: 100%;
    // justify-content: space-around;
  }
  .country-item {
    display: flex !important;
    // width: 100px !important;
  }