@import 'primereact/resources/themes/lara-light-blue/theme.css';    //theme
@import 'primereact/resources/primereact.min.css';                    //core css
@import 'primeicons/primeicons.css'; 

// $primaryColor: #fff;
// $secondaryColor: #A52125;

$primaryHoverColor: #FEC3C4;
$secondaryHoverColor: #651114;

$primaryColor: #20202a;
$primaryLightColor: #2a2c38;
$secondaryColor: #3e86ff;
//font renkleri ve background renkleri için kullanılyor
// $lightColor: #F6F6F6;
// $lightColor: #30323E;
$lightBlack: #30323e;
$lightColor: #d8dbe3;
$footerColor: #e9eaec;
$borderColor: #e5e5e5;



body,html {
  margin:0;
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.p-button.p-button-icon-only {
  width: 25px !important;
  height: 25px !important;
  background-color: $primaryLightColor !important;
}

