@import 'primereact/resources/themes/lara-light-blue/theme.css';    //theme
@import 'primereact/resources/primereact.min.css';                    //core css
@import 'primeicons/primeicons.css'; 

$primaryColor: #fff;
$secondaryColor: #A52125;

$primaryHoverColor: #FEC3C4;
$secondaryHoverColor: #651114;


body,html {
  margin:0;
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.p-button.p-button-icon-only {
  width: 25px !important;
  height: 25px !important;
}

